<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header>
    <mat-panel-title class="borde">
      <h2>Datos Origen de la Tx</h2>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="borde">
        <h3>Información Tecnica de la Transmisión</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>

 

    <mat-form-field appearance="fill" class="mr-4 w-100">
      <mat-label>Usuario de conexión (CNXG)</mat-label>
      <input matInput type="text" [(ngModel)]="form.usuarioCnx" />
    </mat-form-field>

    <section class="example-section">
      <label class="example-margin">Método de autenticación:</label>
      <mat-radio-group appearance="fill" [(ngModel)]="form.metodoAutenticacion">
        <mat-radio-button class="example-margin" value="Contraseña"
          >Contraseña</mat-radio-button
        >
        <mat-radio-button class="example-margin" value="Llaves"
          >Llaves</mat-radio-button
        >
      </mat-radio-group>
    </section>

    <section class="example-section">
      <label class="example-margin">Red de conexion:</label>
      <mat-radio-group appearance="fill" [(ngModel)]="form.UbicacionServidor">
        <mat-radio-button class="example-margin" value="Interna"
          >Interna</mat-radio-button
        >
        <mat-radio-button class="example-margin" value="Externa"
          >Externa</mat-radio-button
        >
      </mat-radio-group>
    </section>
  </mat-expansion-panel>
</mat-expansion-panel>
